<div class="mx-auto w-full max-w-5xl">
  <h2 class="my-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"><%= t('.heading') %></h2>

  <div class="mb-4 flex items-center">
    <%= search_form_for @q, url: user_rewards_path, method: :get, local: true, class: "flex items-center space-x-2" do |form| %>
      <%= form.label :s, t('.sort_by'), class: "mr-2 ml-4" %>
      <%= form.select :s, options_for_select([[t('.newest'), 'created_at desc'], [t('.oldest'), 'created_at asc']], params[:q]&.dig(:s)), {}, { class: "select select-bordered" } %>

      <%= form.label :habit_habit_type_eq, t('.habit_type'), class: "mr-2 ml-4" %>
      <%= form.select :habit_habit_type_eq, options_for_select([[t('.all'), ''], [t('.good'), 'good'], [t('.bad'), 'bad']], params[:q]&.dig(:habit_habit_type_eq)), {}, { class: "select select-bordered" } %>

      <%= form.label :reward_name_cont, t('.search_by_name'), class: "mr-2 ml-4" %>
      <%= form.text_field :reward_name_cont, value: params[:q]&.dig(:reward_name_cont), class: "input input-bordered" %>

      <%= form.submit t('.filter'), class: "btn btn-primary ml-4" %>
    <% end %>
  </div>

  <div class="list">
    <% @user_rewards.each do |habit_reward| %>
      <div class="card bg-base-100 shadow-xl my-3">
        <div class="card-body">
          <h3 class="text-xl font-bold leading-6 text-gray-900"><%= habit_reward.reward.name %></h3>
          <p class="text-gray-700"><%= habit_reward.reward.description %></p>
          <p class="text-gray-500"><%= t('.habit') %>: <%= habit_reward.habit.name %></p>
          <p class="text-gray-500"><%= t('.habit_type') %>: <%= habit_reward.habit.habit_type.humanize %></p>
          <p class="text-gray-500"><%= t('.completed_on') %>: <%= habit_reward.created_at.strftime("%Y-%m-%d") %></p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="mt-6">
    <%= paginate @user_rewards %>
  </div>
</div>
