<div class="mx-auto w-full max-w-5xl">
  <h2 class="my-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"><%= t('.heading') %></h2>

  <ul>
    <% @available_rewards.each do |reward| %>
      <li>
        <strong><%= reward.name %></strong>
        <p><%= reward.description %></p>
        <p><%= t('rewards.show.condition') %>: <%= reward.condition %></p>
        <% if reward.condition_type == 'continuous_days' %>
          <p><%= t('.progress', progress: current_user.habits.maximum(:continuous_completed_days), threshold: reward.threshold) %></p>
        <% elsif reward.condition_type == 'total_days' %>
          <p><%= t('.progress', progress: current_user.habits.sum(:total_completed_days), threshold: reward.threshold) %></p>
        <% end %>
      </li>
    <% end %>
  </ul>

  <%= link_to t('.back'), rewards_path %>
</div>
