<%= form_with(model: user) do |f| %>
  <% if user.errors.any? %>
    <div class="alert alert-error my-5">
      <h2><%= t('.errors.heading', count: user.errors.count) %></h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <div class="my-5">
      <%= f.label :username, t('.username'), class: "my-2 w-full block font-medium leading-6 text-gray-900" %>
      <%= f.text_field :username, class: "my-2 w-full input input-bordered flex items-center gap-2", placeholder: t('.username') %>
    </div>

    <div class="my-5">
      <%= f.label :email, t('.email'), style: "display: block", class: "my-2 w-full block font-medium leading-6 text-gray-900" %>
      <%= f.text_field :email, class: "my-2 w-full input input-bordered flex items-center gap-2", placeholder: t('.email') %>
    </div>

    <div class="my-5">
      <%= f.label :password, t('.password'), class: "my-2 w-full block font-medium leading-6 text-gray-900" %>
      <%= f.password_field :password, class: "my-2 w-full input input-bordered flex items-center gap-2", placeholder: t('.password') %>
    </div>

    <div class="my-5">
      <%= f.label :password_confirmation, t('.password_confirmation'), class: "my-2 w-full block font-medium leading-6 text-gray-900" %>
      <%= f.password_field :password_confirmation, class: "my-2 w-full input input-bordered flex items-center gap-2", placeholder: t('.password_confirmation') %>
    </div>

    <div class="my-10">
      <%= f.submit button_text, class: "btn btn-primary w-full" %>
    </div>
  </div>
<% end %>
