<div id="<%= dom_id user %>">
  <div>
    <strong><%= t('views.users.user.username') %>:</strong>
    <%= user.username %>
  </div>
  <div>
    <strong><%= t('views.users.user.email') %>:</strong>
    <%= user.email %>
  </div>
</div>
