<header>
  <div class="navbar bg-base-100">
    <div class="flex-1">
      <%= link_to t('header.title'), root_path, class: "btn btn-ghost text-xl text-rose-700" %>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li>
          <%= link_to t('header.dashboard'), admin_dashboard_path, class: "text-rose-700" %>
        </li>
        <li>
          <%= link_to t('header.admin_rewards'), admin_rewards_path, class: "text-rose-700" %>
        </li>
        <li>
          <%= link_to t('header.users'), admin_users_path, class: "text-rose-700" %>
        </li>
        <li>
          <%= link_to t('header.habits'), admin_habits_path, class: "text-rose-700" %>
        </li>
        <li>
          <%= link_to t('header.public_habits'), public_habits_path %>
        </li>
        <li>
          <%= link_to t('header.public_rewards'), public_rewards_path %>
        </li>
        <li>
          <details>
            <summary class="text-rose-700">
              <%= t('header.admin') %>: <%= current_user.username %>
            </summary>
            <ul class="p-2 bg-base-100 rounded-t-none">
              <li>
                <%= link_to t('header.your_habits'), habits_path %>
              </li>
              <li>
                <%= link_to t('header.your_rewards'), user_rewards_path %>
              </li>
              <li>
                <%= link_to t('header.admin_logout'), admin_logout_path, data: { turbo_method: :delete } %>
              </li>
            </ul>
          </details>
        </li>
      </ul>
    </div>
  </div>
</header>
