<header>
  <div class="navbar bg-base-100">
    <div class="flex-1">
      <%= link_to t('header.title'), root_path, class: "btn btn-ghost text-xl" %>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li>
          <%= link_to t('header.public_habits'), public_habits_path %>
        </li>
        <li>
          <%= link_to t('header.public_rewards'), public_rewards_path %>
        </li>
        <li>
          <%= link_to t('header.signup'), new_user_path %>
        </li>
        <li>
          <%= link_to t('header.login'), login_path %>
        </li>
      </ul>
    </div>
  </div>
</header>
