<header>
  <div class="navbar bg-base-100">
    <div class="navbar-start">
      <!-- サイトタイトル -->
      <%= link_to root_path, class: "btn btn-ghost text-xl" do %>
        <!-- 小さいスクリーン用 -->
        <%= image_tag 'logomark.png', alt: 'LockAway Logomark', class: 'block lg:hidden h-10' %>
        <!-- 大きいスクリーン用 -->
        <%= image_tag 'logomark_and_logotype_horizontal.png', alt: 'LockAway Logomark and Logotype', class: 'hidden lg:block h-10' %>
      <% end %>
    </div>

    <div class="navbar-end flex items-center">
      <!-- 公開ページへのリンク -->
      <%= link_to public_habits_path, class: "relative flex item-center btn btn-ghost" do %>
        <%= render 'shared/public_habits_icon' %>
        <div class="hidden lg:flex">
          <%= t('header.public_habits') %>
        </div>
      <% end %>

      <%= link_to public_rewards_path, class: "relative flex item-center btn btn-ghost" do %>
        <%= render 'shared/public_rewards_icon' %>
        <div class="hidden lg:flex">
          <%= t('header.public_rewards') %>
        </div>
      <% end %>

      <!-- ユーザー登録とログイン -->
      <%= link_to t('header.signup'), new_user_path, class: "btn btn-secondary btn-xs md:btn-md" %>
      <%= link_to t('header.login'), login_path, class: "btn btn-primary ml-2 btn-xs md:btn-md" %>
    </div>
  </div>
</header>
