<footer class="footer footer-center bg-base-200 text-base-content p-5 mt-10">
  <div>
    <div class="flex items-center lg:flex-row">
      <div class="mb-4 lg:mb-0 mr-10">
        <a class="flex-none">
          <!-- 小さいスクリーン用 -->
          <%= image_tag 'logomark_and_logotype_vertical.png', alt: 'LockAway Logomark', class: 'block lg:hidden h-16' %>
          <!-- 大きいスクリーン用 -->
          <%= image_tag 'logomark_and_logotype_horizontal.png', alt: 'LockAway Logomark and Logotype', class: 'hidden lg:block h-16' %>
        </a>
      </div>

      <nav class="flex flex-col lg:flex-row lg:items-center lg:mx-10 gap-2 lg:gap-4">
        <a class="link link-hover">
          <%= link_to t('footer.about'), root_path %>
        </a>
        <a class="link link-hover">
          <%= link_to t('footer.terms'), terms_of_service_path %>
        </a>
        <a class="link link-hover">
          <%= link_to t('footer.privacy'), privacy_path %>
        </a>
        <!--
        <a class="link link-hover">
          <%= link_to t('footer.contact'), "#" %>
        </a>
        -->
      </nav>
    </div>

    <p class="mt-4 lg:mt-0">
      <%= t('footer.copy_right') %>
      <%= Time.now.year %>
      <%= t('footer.all_rights_reserved') %>
    </p>
  </div>
</footer>
