<header>
  <div class="navbar bg-base-100">
    <div class="navbar-start">
      <!-- ハンバーガーメニュー -->
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
          <!-- ハンバーガーアイコン -->
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
          </svg>
        </div>
        <!-- ハンバーガーメニューの内容 -->
        <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
          <li><%= link_to t('header.public_habits'), public_habits_path %></li>
          <li><%= link_to t('header.public_rewards'), public_rewards_path %></li>
        </ul>
      </div>

      <!-- サイトタイトル -->
      <%= link_to root_path, class: "btn btn-ghost text-xl" do %>
        <!-- 小さいスクリーン用 -->
        <%= image_tag 'logomark.png', alt: 'LockAway Logomark', class: 'block lg:hidden h-10' %>
        <!-- 大きいスクリーン用 -->
        <%= image_tag 'logomark_and_logotype_horizontal.png', alt: 'LockAway Logomark and Logotype', class: 'hidden lg:block h-10' %>
      <% end %>
    </div>

    <div class="navbar-end flex items-center">
      <!-- 横並びのナビゲーションメニュー -->
      <ul class="menu menu-horizontal px-1 hidden lg:flex">
        <li><%= link_to t('header.public_habits'), public_habits_path %></li>
        <li><%= link_to t('header.public_rewards'), public_rewards_path %></li>
      </ul>

      <!-- 未記録の習慣通知ボタン -->
      <%= link_to unlogged_habit_logs_path, class: "btn btn-ghost btn-circle md:btn-square" do %>
        <div class="indicator tooltip tooltip-bottom" data-tip="未記録の習慣ログ">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
          </svg>
          <span class="badge badge-sm bg-warning indicator-item"><%= @unlogged_habit_logs.size %></span>
        </div>
      <% end %>

      <!-- ユーザーのドロップダウンメニュー -->
      <div class="dropdown dropdown-end pl-3">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
          <%= current_user.username %>
        </div>
        <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
          <li><%= link_to t('header.your_habits'), habits_path %></li>
          <li><%= link_to t('header.your_rewards'), user_rewards_path %></li>
          <li><%= link_to t('header.logout'), logout_path, data: { turbo_method: :delete }, class: "text-error" %></li>
        </ul>
      </div>
    </div>
  </div>
</header>
