<% color_class = habit_reward.habit.habit_type == 'good' ? 'bg-yellow-100' : 'bg-purple-100' %>
<div class="card bg-base-100 shadow-xl my-5 <%= color_class %>">
  <div class="card-body">
    <div class="flex">
      <div class="flex-1 text-gray-500">
        <strong><%= habit_reward.habit.user.username %></strong>
      </div>
      <% if current_user == habit_reward.habit.user %>
        <div class="flex-none mx-5">
          <%= link_to t('helpers.twitter.share'), "https://twitter.com/intent/tweet?url=#{request.original_url}&text=【#{habit_reward.habit.name}】が【#{habit_reward.reward.name}】を達成しました！", target: "_blank", rel: "noopener", class: "btn btn-neutral text-white btn-xs" %>
        </div>
      <% end %>
    </div>

    <div>
      <p class="text-gray-500"><%= habit_reward.habit.name %></p>
    </div>

    <div>
      <% color_class = habit_reward.habit.habit_type == 'good' ? 'text-yellow-600' : 'text-purple-600' %>
      <h2 class="card-title <%= color_class %>"><%= habit_reward.reward.name %></h2>
    </div>

    <p class="text-gray-500"><%= habit_reward.reward.description %></p>

    <p class="text-gray-500"><%= t('.completed_on') %>: <%= habit_reward.created_at.strftime("%Y-%m-%d") %></p>
  </div>
</div>
