<div class="mx-auto w-full max-w-2xl">
  <h2 class="my-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"><%= t('.heading', habit_name: @habit.name) %></h2>

  <table class="table">
    <thead>
      <tr>
        <th><%= t('.habit_name') %></th>
        <th><%= t('.date') %></th>
        <th><%= t('.status') %></th>
      </tr>
    </thead>
    <tbody>
      <% if @habit_logs.present? %>
        <% @habit_logs.each do |log| %>
          <%= render partial: 'shared/habit_log', locals: { habit_log: log } %>
        <% end %>
      <% else %>
        <tr>
          <td colspan="3"><%= t('.no_logs') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="mt-5 mb-10">
    <%= link_to t('.back'), habit_path(@habit), class: "btn btn-primary btn-outline w-full" %>
  </div>
</div>
