<div class="mx-auto w-full max-w-2xl">
  <h2 class="my-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Habit Logs for <%= @habit.name %></h2>

  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% if @habit_logs.present? %>
        <% @habit_logs.each do |log| %>
          <tr>
            <td><%= log.date %></td>
            <td><%= log.status %></td>
            <td>
              <div class="flex">
                <% if log.status.nil? %>
                  <%= form_with(model: [@habit, log], local: true, method: :patch) do |form| %>
                    <%= form.hidden_field :status, value: 'completed' %>
                    <%= form.submit 'Completed', class: 'btn btn-success btn-xs flex mx-1' %>
                  <% end %>
                  <%= form_with(model: [@habit, log], local: true, method: :patch) do |form| %>
                    <%= form.hidden_field :status, value: 'not_completed' %>
                    <%= form.submit 'Not Completed', class: 'btn btn-error btn-xs flex mx-1' %>
                  <% end %>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="3">No habit logs found.</td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="mt-5 mb-10">
    <%= link_to 'Back', habit_path(@habit), class: "btn btn-primary btn-outline w-full" %>
  </div>
</div>
