<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content text-center">
    <div class="max-w-md px-6">
      <div class="my-5">
        <%= image_tag 'logomark_and_logotype_vertical.png', alt: 'LockAway Logomark', class: 'inline-block' %>
      </div>
      <p class="font-bold py-6"><%= t('home.hero.subtitle') %></p>
      <div class="flex justify-center space-x-4 py-3">
        <%= link_to t('home.hero.signup'), new_user_path, class: 'btn btn-primary' %>
        <%= link_to t('home.hero.login'), login_path, class: 'btn btn-secondary' %>
      </div>
      <div class="flex justify-center space-x-4 py-3">
        <%= link_to t('home.hero.public_habits'), public_habits_path, class: 'btn btn-accent' %>
      </div>
    </div>
  </div>
</div>

<div class="container mx-auto px-10 py-10">
  <h2 class="text-3xl font-bold text-center mb-8"><%= t('home.features.title') %></h2>
  <div class="grid gap-6">
    <div class="card lg:card-side bg-base-100 shadow-xl">
      <div class="card-body">
        <h2 class="card-title"><%= t('home.features.feature1_title') %></h2>
        <p><%= t('home.features.feature1_description') %></p>
      </div>
      <figure>
        <%= image_tag 'feature1.png', alt: 'Feature 1', class: 'rounded-lg lg:w-96 px-5 py-5' %>
      </figure>
    </div>

    <div class="card lg:card-side bg-base-100 shadow-xl">
      <div class="card-body">
        <h2 class="card-title"><%= t('home.features.feature2_title') %></h2>
        <p><%= t('home.features.feature2_description') %></p>
      </div>
      <figure>
        <%= image_tag 'feature2.png', alt: 'Feature 2', class: 'rounded-lg lg:w-96 px-5 py-5' %>
      </figure>
    </div>

    <div class="card lg:card-side bg-base-100 shadow-xl">
      <div class="card-body">
        <h2 class="card-title"><%= t('home.features.feature3_title') %></h2>
        <p><%= t('home.features.feature3_description') %></p>
      </div>
      <figure>
        <%= image_tag 'feature3.png', alt: 'Feature 3', class: 'rounded-lg lg:w-96 px-5 py-5' %>
      </figure>
    </div>
  </div>
</div>

<div class="container mx-auto px-10 py-10 text-center">
  <h2 class="text-3xl font-bold text-center mb-8"><%= t('home.how_to_use.title') %></h2>
  <div class="carousel carousel-center bg-base-200 rounded-box w-full space-x-4 p-4">
    <div class="carousel-item">
      <div class="card bg-base-100 w-96 shadow-xl">
        <div class="card-body items-center text-center">
          <h2 class="card-title"><%= t('home.how_to_use.step1_title') %></h2>
          <p><%= t('home.how_to_use.step1_description') %></p>
        </div>
        <figure class="flex justify-center items-center px-10 py-10 m-0">
          <%= image_tag 'step1.png', alt: 'Step 1', class: 'rounded-xl' %>
        </figure>
      </div>
    </div>

    <div class="carousel-item">
      <div class="card bg-base-100 w-96 shadow-xl">
        <div class="card-body items-center text-center">
          <h2 class="card-title"><%= t('home.how_to_use.step2_title') %></h2>
          <p><%= t('home.how_to_use.step2_description') %></p>
        </div>
        <figure class="flex justify-center items-center px-10 py-10 m-0">
          <%= image_tag 'step2.png', alt: 'Step 2', class: 'rounded-xl' %>
        </figure>
      </div>
    </div>

    <div class="carousel-item">
      <div class="card bg-base-100 w-96 shadow-xl">
        <div class="card-body items-center text-center">
          <h2 class="card-title"><%= t('home.how_to_use.step3_title') %></h2>
          <p><%= t('home.how_to_use.step3_description') %></p>
        </div>
        <figure class="flex justify-center items-center px-10 py-10 m-0">
          <%= image_tag 'step3.png', alt: 'Step 3', class: 'rounded-xl' %>
        </figure>
      </div>
    </div>
    <!-- Add more carousel items as needed -->
  </div>
</div>
