<%= form_with url: login_path, method: :post do |f| %>
  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <div class="my-5">
      <%= f.label :email, t('.email'), style: "display: block", class: "my-2 w-full block font-medium leading-6 text-gray-900" %>
      <%= f.text_field :email, class: "my-2 w-full input input-bordered flex items-center gap-2", placeholder: t('.email') %>
    </div>

    <div class="my-5">
      <%= f.label :password, t('.password'), class: "my-2 w-full block font-medium leading-6 text-gray-900" %>
      <%= f.password_field :password, class: "my-2 w-full input input-bordered flex items-center gap-2", placeholder: t('.password') %>
    </div>

    <div  class="my-5">
      <%= f.submit t('.submit'), class: "btn btn-primary w-full" %>
    </div>
  </div>
<% end %>
