<%= form_with(model: @habit, local: true) do |f| %>
  <% if @habit.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('.errors.heading', count: @habit.errors.count) %></h2>
      <ul>
        <% @habit.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= f.label :name, t('.name'), class: "badge badge-lg badge-ghost px-5 my-1" %>
    <p class="text-gray-500 text-sm m-2"><%= t('.name_description') %></p>
    <%= f.text_field :name, class: "w-full input input-bordered flex items-center gap-2 mx-2", placeholder: t('.name') %>
  </div>

  <div class="my-5">
    <%= f.label :habit_type, t('.habit_type'), class: "badge badge-lg badge-ghost px-5 my-1" %>
    <p class="text-gray-500 text-sm m-2"><%= t('.habit_type_description') %></p>
    <div class="flex gap-4 mt-2">
      <label class="flex items-center gap-2 mx-2">
        <%= f.radio_button :habit_type, 'good', class: "radio radio-primary" %>
        <span><%= t('.good_habit') %></span>
      </label>
      <label class="flex items-center gap-2 mx-2">
        <%= f.radio_button :habit_type, 'bad', class: "radio radio-primary" %>
        <span><%= t('.bad_habit') %></span>
      </label>
    </div>
  </div>

  <div class="my-5">
    <%= f.label :description, t('.description'), class: "badge badge-lg badge-ghost px-5 my-1" %>
    <p class="text-gray-500 text-sm m-2"><%= t('.description_description') %></p>
    <%= f.text_area :description, class: "w-full textarea textarea-bordered mx-2", placeholder: t('.description') %>
  </div>

  <div class="my-5">
    <%= f.label :start_date, t('.start_date'), class: "badge badge-lg badge-ghost px-5 my-1" %>
    <p class="text-gray-500 text-sm m-2"><%= t('.start_date_description') %></p>
    <div class="flex space-x-2 mx-2">
      <%= f.date_select :start_date, { order: [:year, :month, :day] }, { class: "select select-bordered w-full max-w-xs" } %>
    </div>
  </div>

  <div class="my-5">
    <%= f.label :public, t('.public_setting'), class: "badge badge-lg badge-ghost px-5 my-1" %>
    <p class="text-gray-500 text-sm m-2"><%= t('.public_description') %></p>
    <label class="flex items-center gap-2">
      <%= f.check_box :public, class: "toggle toggle-primary mx-2" %>
      <span><%= t('.public') %></span>
    </label>
  </div>

  <div class="mt-10 mb-5">
    <%= f.submit button_text, class: "btn btn-primary w-full" %>
  </div>
<% end %>
