<div class="mx-auto w-full max-w-5xl">
  <h2 class="my-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Your Habits</h2>

  <div class="container">
    <%= link_to 'New Habit', new_habit_path, class: 'my-3 btn btn-primary' %>

    <div class="my-4">
      <%= search_form_for @q, url: habits_path, method: :get, class: "flex items-center space-x-4" do |f| %>
        <div>
          <%= f.label :s, "Sort by", class: "mx-2" %>
          <%= f.select :s, options_for_select([['Newest', 'created_at desc'], ['Oldest', 'created_at asc']], params[:q]&.dig(:s)), {}, { class: "select select-bordered" } %>
        </div>
        <div>
          <%= f.label :habit_type_eq, "Habit Type", class: "mx-2" %>
          <%= f.select :habit_type_eq, options_for_select([['All', ''], ['Good', 'good'], ['Bad', 'bad']], params[:q]&.dig(:habit_type_eq)), {}, { class: "select select-bordered" } %>
        </div>
        <div>
          <%= f.label :name_cont, "Search by Name", class: "mx-2" %>
          <%= f.search_field :name_cont, class: "input input-bordered" %>
        </div>
        <div>
          <%= f.submit "Filter", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>

    <div class="list">
      <% @habits.each do |habit| %>
        <%= render partial: 'shared/habit_card', locals: { habit: habit, show_path: habit_path(habit), edit_path: edit_habit_path(habit), delete_path: habit_path(habit), editable: current_user.own?(habit) } %>
      <% end %>
    </div>

    <%= paginate @habits %>
  </div>
</div>
