<div class="mx-auto w-full max-w-5xl">
  <h2 class="my-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"><%= t('.heading') %></h2>

  <div class="container">
    <div class="mx-5 flex items-center">
      <%= link_to t('.new_habit'), new_habit_path, class: 'my-3 btn btn-primary' %>
    </div>

    <div class="mx-5 my-4 flex items-center">
      <%= render 'shared/habit_search_sort', url: habits_path %>
    </div>

    <div class="list">
      <% @habits.each do |habit| %>
        <%= render partial: 'shared/habit_card', locals: { habit: habit, show_path: habit_path(habit), edit_path: edit_habit_path(habit), delete_path: habit_path(habit), editable: current_user.own?(habit) } %>
      <% end %>
    </div>

    <div class="text-center my-10">
      <%= paginate @habits %>
    </div>
  </div>
</div>
