<div class="mx-auto w-full max-w-5xl">
  <h2 class="my-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Habits</h2>

  <div class="container">
    <%= link_to 'New Habit', new_habit_path, class: 'my-3 btn btn-primary' %>

    <table class="my-3 table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Description</th>
          <th>Start Date</th>
          <th>Total Completed Days</th>
          <th>Continuous Completed Days</th>
          <th>Completion Rate</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @habits.each do |habit| %>
          <tr class="hover">
            <td><%= habit.name %></td>
            <td><%= habit.habit_type %></td>
            <td><%= habit.description %></td>
            <td><%= habit.start_date.strftime("%Y-%m-%d") %></td>
            <td><%= habit.total_completed_days %></td>
            <td><%= habit.continuous_completed_days %></td>
            <td><%= habit.completion_rate %></td>
            <td>
              <%= link_to 'Show', habit, class: 'btn btn-secondary btn-outline btn-xs' %>
              <% if current_user.own?(habit) %>
                <%= link_to 'Edit', edit_habit_path(habit), id: "button-edit-#{habit.id}", class: 'btn btn-secondary btn-xs' %>
                <%= link_to 'Delete', habit_path(habit), id: "button-delete-#{habit.id}", data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

