<div class="mx-auto w-full max-w-5xl">
  <h2 class="my-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Your Habits</h2>

  <div class="container">
    <%= link_to 'New Habit', new_habit_path, class: 'my-3 btn btn-primary' %>

    <div class="list">
      <% @habits.each do |habit| %>
        <div class="card bg-base-100 shadow-xl my-3">
          <div class="card-body">
            <div class="flex">
              <h2 class="flex-1 card-title"><%= habit.name %></h2>
              <div class="flex-none mx-5 font-bold text-info">
                <%= habit.public ? 'Public' : 'Private' %>
              </div>
              <div class="flex-none">
                <%= link_to 'Show', habit, class: 'btn btn-info btn-outline btn-xs' %>
                <% if current_user.own?(habit) %>
                  <%= link_to 'Edit', edit_habit_path(habit), id: "button-edit-#{habit.id}", class: 'btn btn-secondary btn-xs' %>
                  <%= link_to 'Delete', habit_path(habit), id: "button-delete-#{habit.id}", data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %>
                <% end %>
              </div>
            </div>
            <p>Type: <%= habit.habit_type %></p>
            <p><%= habit.description %></p>
            <p>Start Date: <%= habit.start_date.strftime("%Y-%m-%d") %></p>

            <div class="stats shadow">
              <div class="stat">
                <div class="stat-title">Total Completed Days:</div>
                <div class="stat-value text-primary"><%= habit.total_completed_days %></div>
              </div>
              <div class="stat">
                <div class="stat-title">Continuous Completed Days:</div>
                <div class="stat-value text-primary"><%= habit.continuous_completed_days %></div>
              </div>
              <div class="stat">
                <div class="stat-title">Completion Rate:</div>
                <div class="stat-value text-primary"><%= habit.completion_rate %></div>
              </div>
            </div>

          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
