<div class="container mx-auto w-full max-w-2xl">
  <h2 class="my-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Habit Details</h2>

  <p>
    <strong class="my-2 w-full block leading-6 text-gray-900">Name:</strong>
    <div class="my-2 w-full block font-medium leading-6 text-gray-900">
      <%= @habit.name %>
    </div>
  </p>

  <p>
    <strong class="my-2 w-full block leading-6 text-gray-900">Type:</strong>
    <div class="my-2 w-full block font-medium leading-6 text-gray-900">
      <%= @habit.habit_type.humanize %>
    </div>
  </p>

  <p>
    <strong class="my-2 w-full block leading-6 text-gray-900">Description:</strong>
    <div class="my-2 w-full block font-medium leading-6 text-gray-900">
      <%= @habit.description %>
    </div>
  </p>

  <p>
    <strong class="my-2 w-full block leading-6 text-gray-900">Start Date:</strong>
    <div class="my-2 w-full block font-medium leading-6 text-gray-900">
      <%= @habit.start_date.strftime("%Y-%m-%d") %>
    </div>
  </p>

  <p>
    <strong class="my-2 w-full block leading-6 text-gray-900">Total Completed Days:</strong>
    <div class="my-2 w-full block font-medium leading-6 text-gray-900">
      <%= @habit.total_completed_days %>
    </div>
  </p>

  <p>
    <strong class="my-2 w-full block leading-6 text-gray-900">Continuous Completed Days:</strong>
    <div class="my-2 w-full block font-medium leading-6 text-gray-900">
      <%= @habit.continuous_completed_days %>
    </div>
  </p>

  <p>
    <strong class="my-2 w-full block leading-6 text-gray-900">Completion Rate:</strong>
    <div class="my-2 w-full block font-medium leading-6 text-gray-900">
      <%= @habit.completion_rate %>
    </div>
  </p>

  <p>
    <strong class="my-2 w-full block leading-6 text-gray-900">Public:</strong>
    <div class="my-2 w-full block font-medium leading-6 text-gray-900">
      <%= @habit.public ? 'Yes' : 'No' %>
    </div>
  </p>

  <div>
    <div class="flex justify-between items-center my-5">
      <h3 class="text-xl font-bold leading-9 tracking-tight text-gray-900">Recent Habit Logs</h3>
      <%= link_to 'View All Logs >', habit_habit_logs_path(@habit), class: 'link link-primary link-hover' %>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @habit.habit_logs.order(date: :desc).limit(5).each do |log| %>
          <tr>
            <td><%= log.date %></td>
            <td><%= log.status %></td>
            <td>
              <% if log.status.nil? %>
                <%= form_with(model: [@habit, log], local: true, method: :patch, url: habit_habit_log_path(@habit, log)) do |form| %>
                  <%= form.hidden_field :status, value: 'completed' %>
                  <%= form.submit 'Mark as Completed', class: 'btn btn-success btn-sm' %>
                <% end %>
                <%= form_with(model: [@habit, log], local: true, method: :patch, url: habit_habit_log_path(@habit, log)) do |form| %>
                  <%= form.hidden_field :status, value: 'not_completed' %>
                  <%= form.submit 'Mark as Not Completed', class: 'btn btn-danger btn-sm' %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="flex mt-5 mb-10">
    <%= link_to 'Edit', edit_habit_path(@habit), class: 'btn btn-secondary flex-auto w-full mr-2' %>
    <%= link_to 'Back', habits_path, class: 'btn btn-primary btn-outline flex-auto w-full ml-2' %>
  </div>
</div>
