<!DOCTYPE html>
<html>
  <head>
    <title>LockAway</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <% if current_user&.admin? %>
      <%= render 'shared/admin_header' %>
    <% elsif logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>

    <turbo-frame id="flash">
      <%= render 'shared/flash_message' %>
    </turbo-frame>

    <turbo-frame id="unlogged_habit_logs_alert">
      <%= render 'shared/unlogged_habit_logs_alert' %>
    </turbo-frame>

    <%= yield %>
  </body>
</html>
