<!DOCTYPE html>
<html>
  <head>
    <title>LockAway</title>
    <%= favicon_link_tag 'favicon.png' %>
    <link rel="manifest" href="/manifest.json">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= display_meta_tags(default_meta_tags) %>
  </head>

  <body>
    <% if current_user&.admin? %>
      <%= render 'shared/admin_header' %>
    <% elsif logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>

    <turbo-frame id="flash">
      <%= render 'shared/flash_message' %>
    </turbo-frame>

    <turbo-frame id="unlogged_habit_logs_alert">
      <%= render 'shared/unlogged_habit_logs_alert' %>
    </turbo-frame>

    <%= yield %>

    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service_worker.js')
            .then((registration) => {
              console.log('Service Worker registered:', registration);
            })
            .catch((error) => {
              console.error('Service Worker registration failed:', error);
            });
        });
      }
    </script>
  </body>
</html>
