<div class="container mx-auto w-full max-w-2xl">
  <h2 class="my-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Unlogged HabitLogs</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Start Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @unlogged_habit_logs.each do |log| %>
        <tr>
          <td><%= log.habit.name %></td>
          <td><%= log.date %></td>
          <td>
            <div class="flex">
              <% if log.status.nil? %>
                <%= form_with(model: [log.habit, log], local: true, method: :patch) do |form| %>
                  <%= form.hidden_field :status, value: 'completed' %>
                  <%= form.submit 'Completed', class: 'btn btn-success btn-xs flex mx-1' %>
                <% end %>
                <%= form_with(model: [log.habit, log], local: true, method: :patch) do |form| %>
                  <%= form.hidden_field :status, value: 'not_completed' %>
                  <%= form.submit 'Not Completed', class: 'btn btn-error btn-xs flex mx-1' %>
                <% end %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
