<div class="container mx-auto w-full max-w-2xl">
  <h2 class="my-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"><%= t('.heading') %></h2>

  <table class="table">
    <thead>
      <tr>
        <th><%= t('unlogged_habit_logs.index.habit_name') %></th>
        <th><%= t('habit_logs.index.date') %></th>
        <th><%= t('habit_logs.index.status') %></th>
      </tr>
    </thead>
    <tbody>
      <% @unlogged_habit_logs.each do |log| %>
        <%= render partial: 'shared/habit_log', locals: { habit_log: log } %>
      <% end %>
    </tbody>
  </table>
</div>
